.filtersMenu {
    height: 50px;
    &_additional {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &_hide {
            display: none;
            div {
                display: none;
            }
        }
    }
    &_button-item {
        position: absolute;
        top: 50%;
        right: 50%;
        background-color: #000;
        height: 7px;
        width: 1px;
        transform: translateX(50%) translateY(-50%);
        &:nth-child(2) {
            height: 1px;
            width: 7px;

            transform: translateX(50%) translateY(-20%);
        }
    }
    .add-product,
    .del-selected-products {
        width: 14px;
        height: 14px;
        position: relative;
        border: solid 1px #000;
        border-radius: 4px;
        cursor: pointer;
    }
    .del-selected-products,
    .add-product {
        .filtersMenu_button-item {
            rotate: 45deg;
            transform: translateX(-40%) translateY(-50%);
        }
        &_hide {
            display: none;
        }
        &:hover {
            div {
                &::before,
                &::after {
                    background-color: #cd2525;
                }
            }
        }
        div {
            position: absolute;
            top: 48%;
            left: 19%;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 8px;
                height: 1px;
                background: #000;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
    .add-product {
        div {
            &::before {
                transform: rotate(90deg);
            }
            &::after {
                transform: rotate(0deg);
            }
        }
        &:hover {
            div {
                &::before {
                    background: green;
                }
                &::after {
                    background: green;
                }
            }
        }
    }
}
