* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input {
    width: 100%;
    border: none;
    &:focus {
        outline: none;
        border: none;
    }
}
.App {
    width: 400px;
    height: 100%;
    margin: 100px auto 0 auto;
}

.table-row {
    width: 100%;
    display: grid;
    grid-template-columns: 60px 70px 50px 120px 30px;
    column-gap: 15px;
    &_status,
    &_product,
    &_id,
    &_name,
    &_additional {
        display: flex;
        align-items: center;
    }
    &_status {
        height: 20px;
        grid-column-start: 1;
    }
    &_product {
        height: 20px;
        grid-column-start: 2;
    }
    &_id {
        height: 20px;
        grid-column-start: 3;
    }
    &_name {
        position: relative;
        height: 20px;
        grid-column-start: 4;
    }
    &_additional {
        height: 20px;
        grid-column-start: 5;
    }
}
