.products-list {
    margin-top: 10px;
    .product-hide {
        display: none;
    }
    .product-item-wrapper {
        border-radius: 4px;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
            background-color: #cacaca;
            input {
                background-color: #cacaca;
                &:focus {
                    background-color: #e3e2e2;
                }
            }
            .table-row_additional {
                background-color: #fff;
            }
            .table-row-prev {
                width: 5px;
                background-color: #515151;
                border-radius: 4px 0 0 4px;
            }
        }
        &_opacity {
            opacity: 0.5;
        }
        &:focus {
            background-color: #fff;
            input {
                background-color: #fff;
                &:focus {
                    background-color: #fff;
                }
            }
            .table-row_additional {
                background-color: #fff;
            }
        }
        &_choised {
            color: #fff;
            background-color: #898989;
            input {
                color: #fff;
                background-color: #898989;
                &:focus {
                    background-color: #898989;
                }
            }
            .table-row_additional {
                background-color: #fff;
            }
            .table-row-prev {
                width: 5px;
                background-color: #363636;
                border-radius: 4px 0 0 4px;
            }
        }
    }
}
