.product-item {
    margin-top: 10px;
    height: 20px;
    font-size: 12px;
    img {
        height: 100%;
        margin-right: 10px;
    }
    input {
        width: 75%;
        z-index: 4;
        font-size: 12px;
        &:focus {
            border-bottom: solid 2px #000;
        }
    }
    &_name {
        position: relative;
        display: flex;
        align-items: center;
    }
    &_hide {
        display: none;
    }
    .icon-list-wrapper {
        display: none;
        width: calc(100% + 10px);
        height: 105px;
        position: absolute;
        bottom: 0px;
        transform: translateY(100%);
        overflow: hidden;
        z-index: 5;
    }
    .icon-list-wrapper_active {
        display: block;

        .icons-list {
            animation: show 1s forwards;
        }
    }
}

@keyframes show {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
